/******* BASE STYLES *******/

body {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
    color: #3B3B3B;
    background-color: #DAF7F6;
}

h1, h2, h3 {
    font-family: 'Montserrat';
    color: #F16059;
    text-transform: uppercase; 
}

h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    padding-bottom: 20px;
}

h3 {
    font-size: 12px;
}



/******* HEADER *******/

header {
    background-color: #fff;
    text-align: center;
}

header img {
    margin-right: 18px;
}

/******* MAIN *******/

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background-color: #fff;
    box-sizing: border-box;
}

/******* IMAGES *******/

#cookies {
    background-image: url('../img/gluten-free-sugar-cookies.jpg');
}

#pesto {
    background-image: url('../img/nut-free-pesto.jpg');
}

#salad {
    background-image: url('../img/watermelon-salad.jpg');
}


/******** TIME DIV *******/

.time {
    margin-bottom: 20px;
    border: 1px solid #3B3B3B;
    overflow: auto;
}

.time div {
    float: left;
    padding-left: 6px;
    text-transform: uppercase;
}

.time .cook {
    border-right: 1px solid #3B3B3B;
    border-left: 1px solid #3B3B3B;
}

.time img {
    width: 15px;
    margin-right: 5px;
    height: auto;
}

.time-details {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.time strong {
    font-weight: bold;
}

/********* COLUMNS ************/

.columns {
    overflow: auto;
}


.directions {
    float: left;
    width: 240px;
}

.ingredients {
    float: left;
    width: 205px; 
    /* margin-right: 12px;   */
}

.recipe .ingredients h3, .recipe .directions h3 {
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
    margin-left: 12px;
    
}

.ingredients ul {
    padding-left: 25px;
    line-height: 15px;
    list-style-type: square;
}

.directions ol {
    padding-left: 22px;
    line-height: 15px;
}