/******* BASE STYLES *******/

body {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
    color: #3B3B3B;
    background-color: #DAF7F6;
}

h1, h2, h3 {
    font-family: 'Montserrat';
    color: #F16059;
    text-transform: uppercase; 
}

h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    

}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 12px;
}

/******* HEADER *******/

header {
    background-color: #fff;
    text-align: center;
}

header img {
    margin-right: 18px;
}

/******* MAIN *******/

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background-color: #fff;
    box-sizing: border-box;
}

/******* IMAGES *******/

#cookies {
    background-image: url('../img/gluten-free-sugar-cookies.jpg');
}

#pesto {
    background-image: url('../img/nut-free-pesto.jpg');
}

#salad {
    background-image: url('../img/watermelon-salad.jpg');
}