/******* BASE STYLES *******/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #3B3B3B;
    background-color: #DAF7F6;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F16059;
    text-transform: uppercase; 
}

h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    padding: 40px 0;
    margin: 0;
}

h2 {
    font-size: 24px;
    padding-bottom: 20px;
}

h3 {
    font-size: 12px;
}



/******* HEADER *******/

header {
    background-color: #fff;
    text-align: center;
}

header img {
    margin-right: 16px;
}

/******* MAIN *******/

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 20px 0;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background-color: #fff;
    box-sizing: border-box;
}

.recipe h2 {
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 29px;
	color: #F16059;
}

/******* IMAGES *******/

#cookies .image {
    background-image: url('../img/gluten-free-sugar-cookies.jpg');
    background-size: cover;
}

#pesto .image {
    background-image: url('../img/nut-free-pesto.jpg');
    background-size: cover;
}

#salad .image {
    background-image: url('../img/watermelon-salad.jpg');
    background-size: cover;
}


/******** TIME DIV *******/

.time {
    margin-bottom: 20px;
    border: 1px solid #3B3B3B;
    overflow: auto;
}

.time div {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
	box-sizing: border-box;
    text-transform: uppercase;
}

.time .cook {
    border: 0 1px solid #3B3B3B;
}

.time img {
    width: 15px;
    margin-right: 5px;
    height: auto;
    vertical-align: middle;
}

.time-details {
    display: inline-block;
}

.time strong {
    font-family: 'Montserrat', sans-serif;;
}

/********* COLUMNS ************/

.columns {
    overflow: auto;
}


.directions {
    float: left;
    width: 240px;
}

.ingredients {
    float: left;
    width: 205px; 
    margin-right: 15px;  
}

.recipe h3 {
	padding: 6px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #3B3B3B;
}

.ingredients ul {
    padding-left: 15px;
    line-height: 24px;
    list-style-type: square;
}

.directions ol {
    padding-left: 15px;
    line-height: 22px;
}